* {
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-weight: normal;
  text-align: left;
}

html, body, #app {
  height: 100%;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.flex-column {
  flex-direction: column;
}
.justify-content-between {
  justify-content: space-between;
}

a {
  text-decoration: none;
  color: rgb(222, 3, 87);
}
a:hover {
  text-decoration: underline;
}

h1 {
  padding: 1rem 0;
  font-size: 1.25rem;
}
h2 {
  font-size: 1.666rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

strong {
  font-weight: bold;
}

button,
.button
{
  display: block;
  width: 100%;
  padding: 0.5rem 1rem;
  color: rgb(38, 38, 38);
  background-color: rgb(245, 245, 245);
  border: none;
  outline-color: rgb(247, 230, 103);
}
button:focus, button:hover,
.button:focus, .button:hover
{
  background-color: rgb(247, 230, 103);
  /*background-color: rgb(255, 184, 203);*/
  text-decoration: none;
}
button.active,
.button.active
{
  color: rgb(247, 230, 103);
  background-color: rgb(38, 38, 38);
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
.nav-item {
  flex-shrink: 0;
}
.nav-link {
  padding: 0.666em;
}

dl {
  display: flex;
  flex-wrap: wrap;
}
dt {
  flex-basis: 30%;
  font-weight: 700;
}
dd {
  flex-basis: 70%;
  flex-grow: 1;
  margin-bottom: 1rem;
}

pre {
  max-width: 100%;
  overflow: auto;
  font-size: 0.85rem;
  line-height: 1.45;
  padding: 1rem;
}
tt, code {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

input {
  padding: 0.333em 0.5em;
  border-radius: 0.25em;
  border: 1px solid #bbb;
}
